
h1{
    color:#000000; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:80px;
    vertical-align:baseline;
    margin:10px 0px 53.6px 0px;
    font-weight:700;
}
p{
    color:#000000;
    font-family :'Times New Roman', Times, serif;
    font-size:35px;
    margin:35px 0px;
    font-weight:400;
}


button {
    background-color: #0000FF;
    color: white;
    padding: 25px 85px ;
    font-size: 14px;
    transition: all 0.5s;
}
button:hover{
    content: "";
    background-color: #008000;
}